## 1.파일 다운로드

In [282]:
!git clone https://github.com/Soyoung-Yoon/data_01

fatal: destination path 'data_01' already exists and is not an empty directory.

## 2.Colab에서 한글 폰트 사용하기

In [283]:
###########폰트 라이브러리 불러오기#############
import matplotlib.font_manager as fm
import matplotlib.pyplot as plt
import matplotlib as mpl

!sudo apt-get install -qq -y fonts-nanum

%config InlineBackend.figure_format = 'retina'
sys_font=fm.findSystemFonts()
path = '/usr/share/fonts/truetype/nanum/NanumMyeongjo.ttf'  # 설치된 나눔글꼴중 원하는 녀석의 전체 경로를 가져오자
font_name = fm.FontProperties(fname=path, size=10).get_name()
plt.rc('font', family=font_name)
mpl.font_manager._rebuild()
print('설치가 되었습니다.')

설치가 되었습니다.

In [284]:
# 위의 코드 실행 후 colab 메뉴에서 '런타임' -> '런타임 다시 시작' 실행

In [285]:
####### 런타임 다시 시작 후 실행 #######
import matplotlib.pyplot as plt  # 그래프 그리는 용도
import matplotlib.font_manager as fm  # 폰트 관련 용도

plt.rcParams['font.family']='NanumMyeongjo'  #폰트 설정
fm._rebuild()

## 3.알코올을 가장 많이 마시는 나라는?

- country	: 국가명
- beer_servings : 맥주 소비량
- spirit_servings : 증류주 소비량(독주, 알코올 함량 20% 이상의 설탕을 첨가하지 않은 증류주)
- wine_servings : 와인 소비량
- total_litres_of_pure_alcohol : 순수 알코올
- continent : 대륙

In [286]:
# [2-0] 사용라이브러리 import
import pandas as pd

### 3-1. 파일 가져오기
csv 파일 가져오기 
- csv 파일은 컬럼 구분이 콤마(,) 로 이루어진 파일
- df = pd.read_csv(파일이름) : csv 형식의 파일을 읽어 DataFrame 객체로 가져옴
- DataFrame.to_csv(파일이름, index=True) : DataFrame을 csv 파일로 저장, index는 제외하고 저장하기 위해서는 index=False로 지정

In [287]:
# [2-1] drinks.csv 파일을 DataFrame으로 불러오기 합니다.
df = pd.read_csv('./data_01/drinks.csv')

In [288]:
# [2-2] df의 데이터 모습을 확인하기 위해 첫 5개 데이터를 출력합니다
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [289]:
# [2-3] df의 컬럼명을 한글로 변경합니다.
# ['국가', '맥주', '증류주', '와인', '알코올','대륙']
df.columns = ['국가', '맥주', '증류주', '와인', '알코올','대륙']

# 변경되었는지 확인합니다.
df.head()

            국가   맥주  증류주   와인   알코올  대륙
0  Afghanistan    0    0    0   0.0  AS
1      Albania   89  132   54   4.9  EU
2      Algeria   25    0   14   0.7  AF
3      Andorra  245  138  312  12.4  EU
4       Angola  217   57   45   5.9  AF

In [290]:
# [2-4] df의 row의 개수 및 각 column의 정보 및 메모리 사용량을 확인합니다.
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      193 non-null    object
 1   맥주      193 non-null    int64
 2   증류주     193 non-null    int64
 3   와인      193 non-null    int64
 4   알코올     193 non-null    float64
 5   대륙      170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 29.0 KB

In [291]:
# '대륙'에 대한 정보가 부족한 것을 확인할 수 있습니다.
# 이유가 무엇일까요? 어떻게 해결할 수 있을까요?

In [292]:
# drinks.csv 파일을 열어 원인을 확인하여 보도록 합니다.

대륙의 종류
- 아시아, 유럽, 아프리카, 북아메리카, 남아메리카, 오세아니아
- AS, EU, AF, NA, SA, OC
- NA=>결측치로 판단되어 버림

### 3-2. 결측치 확인 및 해결
결측치 
- 값이 없음을 나타냄 
- NaN, NaT, None 등으로 표기되며, NA Value, Missing Value 라고 함

결측치 확인
   - DataFrame.isna() : 결측치에 대해 True, 아니면 False
   - DataFrame.isnull() : DataFrame.isna()와 동일함
   - DataFrame.notna() : 결측치가 아닌 것에 대해 True, 결측치면 False
   - DataFrame.notnull() : DataFrame.isnull()과 동일함
   - Series에도 결측치 확인을 위한 isna() ~ notnull()의 메서드 있음


- DataFrame.isna().sum() : 결측치에 대해 컬럼별 개수
- DataFrame.isna().all() / any() : True, False

데이터 종류 확인
- 주로 범주형 데이터에 사용함
    - 성별, 지역, 부서 등의 몇 개의 그룹으로 표현되는 데이터
    - 숫자 또는 문자열로 표현 될 수 있음 
- Series.unique() : **결측치를 포함**하며, 중복을 제외한 데이터의 종류를 ndarray로 반환
- Series.value_counts() : **결측치를 포함하지 않으며**, 데이터 종류별 개수를 Series로 반환

In [293]:
# [2-5] 대륙의 종류를 알아봅니다
# 결과를 보면 csv파일에서 'NA'로 되어 있는 데이터를 NaN(=nan)으로 가져온 것입니다.
df['대륙'].unique()

array(['AS', 'EU', 'AF', nan, 'SA', 'OC'], dtype=object)

In [294]:
pd.Series(df['대륙'].unique())

0     AS
1     EU
2     AF
3    NaN
4     SA
5     OC
dtype: object

In [295]:
# [2-6] 대륙별 개수를 알아봅니다.
df['대륙'].value_counts()

AF    53
EU    45
AS    44
OC    16
SA    12
Name: 대륙, dtype: int64

In [296]:
# [2-7] 결측치를 컬럼 별로 집계해 봅니다.
df.isna().sum()

국가      0
맥주      0
증류주     0
와인      0
알코올     0
대륙     23
dtype: int64

In [297]:
# [2-8] isna()를 사용해 대륙에서 결측치로 취급된 데이터만 출력해 봅니다
# 북아메리카(NA)에 포함되는 국가들인 것을 확인할 수 있습니다.
df[df['대륙'].isna()]

                               국가   맥주  증류주   와인   알코올   대륙
5               Antigua & Barbuda  102  128   45   4.9  NaN
11                        Bahamas  122  176   51   6.3  NaN
14                       Barbados  143  173   36   6.3  NaN
17                         Belize  263  114    8   6.8  NaN
32                         Canada  240  122  100   8.2  NaN
41                     Costa Rica  149   87   11   4.4  NaN
43                           Cuba   93  137    5   4.2  NaN
50                       Dominica   52  286   26   6.6  NaN
51             Dominican Republic  193  147    9   6.2  NaN
54                    El Salvador   52   69    2   2.2  NaN
68                        Grenada  199  438   28  11.9  NaN
69                      Guatemala   53   69    2   2.2  NaN
73                          Haiti    1  326    1   5.9  NaN
74                       Honduras   69   98    2   3.0  NaN
84                        Jamaica   82   97    9   3.4  NaN
109                        Mexico  238   68    5   5.5  NaN
122                     Nicaragua   78  118    1   3.5  NaN
130                        Panama  285  104   18   7.2  NaN
143             St. Kitts & Nevis  194  205   32   7.7  NaN
144                     St. Lucia  171  315   71  10.1  NaN
145  St. Vincent & the Grenadines  120  221   11   6.3  NaN
174             Trinidad & Tobago  197  156    7   6.4  NaN
184                           USA  249  158   84   8.7  NaN

결측치 해결방법
- pd.read_csv(파일이름, na_filter=False) : NA를 NaN(결측치)로 읽는 동작을 멈추게 합니다.
- 옵션 확인 : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.htm
- DataFrame.fillna(값) : 결측값을 특정 값으로 채우기 합니다.
- Series.fillna(값) : 결측값을 특정 값으로 채우기 합니다.
    - 연속형 데이터 : 0으로 채우기, 평균값으로 채우기, 범주별 평균값 채우기 등
    - 범주형 데이터 : 다른 범주로 만들어 채우기 
- DataFrame.loc[Series.isna(), 컬럼명] = 값

In [298]:
# [2-9] 해결방법 1
# read_csv의 옵션을 사용하여 해결합니다.
# read_csv에서 'NA'를 NaN으로 읽도록하는 동작을 멈추게 합니다.
# na_filter=False 를 사용하면 NA를 NaN으로 읽지 않습니다.
temp = pd.read_csv('./data_01/drinks.csv',na_filter=False)
temp.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

In [299]:
# [2-10] temp의 'continent' (대륙)에 포함된 값의 종류를 unique를 사용해 살펴 봅니다
# NaN 대신 'NA'가 있는 것을 확인할 수 있습니다.
temp['continent'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

In [300]:
temp.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [301]:
# [2-10] 해결방법 2
# NaN으로 읽어온 데이터를 'NA'로 변경합니다.
df['대륙']=df['대륙'].fillna('NA')

In [302]:
df.loc[df['대륙'].isna(),'대륙'] = 'NA'
df=df.fillna('NA')

In [303]:
# [2-11] 결측치가 제거 되었는지 컬럼 별 결측치 개수를 출력해 확인합니다.
df.isna().sum()

국가     0
맥주     0
증류주    0
와인     0
알코올    0
대륙     0
dtype: int64

In [304]:
# [2-12] unique()를 사용하여 '대륙'의 종류를 확인해 봅니다.
df['대륙'].unique()

array(['AS', 'EU', 'AF', 'NA', 'SA', 'OC'], dtype=object)

### 3-3. 통계치 구하기
- DataFrame.describe() : 숫자형 데이터타입을 갖는 컬럼에 대해 count, mean, std, min, max, Q1, Q2, Q3 등의 통계값 구하기
- DataFrame.count() : 개수
- DataFrame.sum() : 합계
- DataFrame.mean() : 평균
- DataFrame.std() : 표준편차
- DataFrame.var() : 분산
- DataFrame.quantile() : 분위수
- DataFrame.함수(axis=1)을 사용하여 행별 통계값을 구할 수 있음
   - axis=0 : 기본값이며, 행을 이동하며, 행과 행의 연산을 수행함
   - axis=1 : 컬럼을 이동하며 컬럼과 컬럼의 연산을 수행함

In [305]:
# [2-13] describe 함수를 사용해 전세계 맥주, 증류주, 와인, 알코올 소비에 대한 통계치를 구해봅니다.
df.describe()

               맥주         증류주          와인         알코올
count  193.000000  193.000000  193.000000  193.000000
mean   106.160622   80.994819   49.450777    4.717098
std    101.143103   88.284312   79.697598    3.773298
min      0.000000    0.000000    0.000000    0.000000
25%     20.000000    4.000000    1.000000    1.300000
50%     76.000000   56.000000    8.000000    4.200000
75%    188.000000  128.000000   59.000000    7.200000
max    376.000000  438.000000  370.000000   14.400000

In [306]:
temp = df[['국가','대륙']]
temp.describe()

                 국가   대륙
count           193  193
unique          193    6
top     Afghanistan   AF
freq              1   53

In [307]:
# [2-14] 전세계 맥주, 증류주, 와인, 알코올 소비에 대한 정보만 추출하여 df2로 지정합니다.
df2 = df[['맥주','증류주','와인','알코올']]
df2.head(2)

   맥주  증류주  와인  알코올
0   0    0   0  0.0
1  89  132  54  4.9

In [308]:
# [2-15] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 (df2) '평균'만 구해봅니다.
df2.mean()

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [309]:
# [2-16] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 (df2) '중앙값'만 구해봅니다.
df2.median()

맥주     76.0
증류주    56.0
와인      8.0
알코올     4.2
dtype: float64

In [310]:
# [2-17] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 '최대값'만 구해봅니다.
df.max()

국가     Zimbabwe
맥주          376
증류주         438
와인          370
알코올        14.4
대륙           SA
dtype: object

In [311]:
# [2-18] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 '최소값'만 구해봅니다.
df.min()

국가     Afghanistan
맥주               0
증류주              0
와인               0
알코올            0.0
대륙              AF
dtype: object

In [312]:
# [2-19] 전세계 맥주, 증류주, 와인, 알코올의 소비에 대한 (df2) Q1, Q2, Q3를 구해봅니다.
temp = df2.quantile([0.25,0.5,0.75])
temp.index = ['Q1','Q2','Q3']
temp

       맥주    증류주    와인  알코올
Q1   20.0    4.0   1.0  1.3
Q2   76.0   56.0   8.0  4.2
Q3  188.0  128.0  59.0  7.2

In [313]:
# 표준편차(std), 분산(var)에 대해서도 작업해 보세요 ^_^!!!  
ord('0'), ord('1'),ord('A'),ord('B'),ord('a'),ord('b') #ord() : 특정문자를 아스키 코드값으로 변환

(48, 49, 65, 66, 97, 98)

In [314]:
# [2-20] df (object dtype이 존재함) 에 대해서 컬럼별 min을 구해 봅니다.
# dtype이 object이 컬럼의 min은 오름차순 정렬시 가장 앞에 있는 것
# dtype이 object이 컬럼의 max는 오름차순 정렬시 가장 뒤에 있는 것
# 문자열 정렬시에는 문자의 코드값을 사용함 : ord(문자)
df.min()

국가     Afghanistan
맥주               0
증류주              0
와인               0
알코올            0.0
대륙              AF
dtype: object

각 컬럼 별 함수 적용
- DataFrame.apply(함수) : Series로 결과가 반환됨
- DataFrame.apply([함수1, 함수2, ...]) : DataFrame으로 결과가 반환됨
- 사용자 정의 함수, 외부 함수, 내장 함수 등 다양한 함수를 사용할 수 있음
- Series의 통계 함수들은 문자열 형태로 사용할 수 있음 : 'min', 'max', 'count', 'std', 'var', 'mean', 'median'

In [315]:
# [2-21] df2의 각 컬럼별 평균을 구해 봅니다.
df2.apply('mean')

맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
dtype: float64

In [316]:
# [2-22] df2의 최소, 최대, 평균값을 구해봅니다.
df2.apply(['min','max','mean'])

              맥주         증류주          와인        알코올
min     0.000000    0.000000    0.000000   0.000000
max   376.000000  438.000000  370.000000  14.400000
mean  106.160622   80.994819   49.450777   4.717098

### 3-4. 주류 소비량 비교

In [317]:
# pandas의 max_rows, max_columns 설정
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 10)
# https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

Series의 연산
- Series 끼리 또는 Series와 스칼라는 다양한 연산을 할 수 있음
- index에 맞춰 element wise 연산됨
   - 산술연산(수치): +, -, *, /, //, %  
   - 비교연산(True/False): >, <, >=, <=, ==, !=  
   - True/False의 관계연산(True/False): &, |, ~

In [318]:
# [2-23] 와인 소비량이 맥주 + 증류주 소비량보다 큰 나라를 검색해,'대륙'을 기준으로 정렬해 보자
df[df['와인']>(df['맥주'] + df['증류주'])].sort_values('대륙')

                      국가   맥주  증류주   와인   알코올  대륙
55     Equatorial Guinea   92    0  233   5.8  AF
148  Sao Tome & Principe   56   38  140   4.2  AF
92                  Laos   62    0  123   6.2  AS
171          Timor-Leste    1    1    4   0.1  AS
61                France  127  151  370  11.8  EU
83                 Italy   85   42  237   6.5  EU
136             Portugal  194   67  339  11.0  EU
6              Argentina  193   25  221   8.3  SA
185              Uruguay  115   35  220   6.6  SA

In [319]:
# [2-24] 맥주 소비량이 230 초과이면서, 와인 소비량이 230 초과인 나라를 검색해 보자
(df['맥주']>230) & (df['와인'] > 230)

0      False
1      False
2      False
3       True
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99      True
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156     True
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
dtype: bool

In [320]:
# [2-25] 대륙이 'AS'인 국가들의 정보를 검색해 보자
df[df['대륙']=='AS']

                       국가   맥주  증류주   와인   알코올  대륙
0             Afghanistan    0    0    0   0.0  AS
12                Bahrain   42   63    7   2.0  AS
13             Bangladesh    0    0    0   0.0  AS
19                 Bhutan   23    0    0   0.4  AS
24                 Brunei   31    2    1   0.6  AS
30               Cambodia   57   65    1   2.2  AS
36                  China   79  192    8   5.0  AS
46            North Korea    0    0    0   0.0  AS
77                  India    9  114    0   2.2  AS
78              Indonesia    5    1    0   0.1  AS
79                   Iran    0    0    0   0.0  AS
80                   Iraq    9    3    0   0.2  AS
82                 Israel   63   69    9   2.5  AS
85                  Japan   77  202   16   7.0  AS
86                 Jordan    6   21    1   0.5  AS
87             Kazakhstan  124  246   12   6.8  AS
90                 Kuwait    0    0    0   0.0  AS
91             Kyrgyzstan   31   97    6   2.4  AS
92                   Laos   62    0  123   6.2  AS
94                Lebanon   20   55   31   1.9  AS
102              Malaysia   13    4    0   0.3  AS
103              Maldives    0    0    0   0.0  AS
112              Mongolia   77  189    8   4.9  AS
116               Myanmar    5    1    0   0.1  AS
119                 Nepal    5    6    0   0.2  AS
127                  Oman   22   16    1   0.7  AS
128              Pakistan    0    0    0   0.0  AS
134           Philippines   71  186    1   4.6  AS
137                 Qatar    1   42    7   0.9  AS
138           South Korea  140   16    9   9.8  AS
141    Russian Federation  247  326   73  11.5  AS
149          Saudi Arabia    0    5    0   0.1  AS
154             Singapore   60   12   11   1.5  AS
161             Sri Lanka   16  104    0   2.2  AS
167                 Syria    5   35   16   1.0  AS
168            Tajikistan    2   15    0   0.3  AS
169              Thailand   99  258    1   6.4  AS
171           Timor-Leste    1    1    4   0.1  AS
176                Turkey   51   22    7   1.4  AS
177          Turkmenistan   19   71   32   2.2  AS
181  United Arab Emirates   16  135    5   2.8  AS
186            Uzbekistan   25  101    8   2.4  AS
189               Vietnam  111    2    1   2.0  AS
190                 Yemen    6    0    0   0.1  AS

DataFrame에 새로운 컬럼 추가
- DataFrame[컬럼명] = 데이터목록
- 컬럼명은 기존 DataFrame에 존재하지 않는 이름이어야 함
- 데이터목록은 DataFrame의 다른 컬럼들과 같은 개수이어야 하며 list, Series 등의 형태일 수 있음

DataFrame의 컬럼 제거
- del DataFrame[컬럼명]
- DataFrame.drop(컬럼명, axis=1), DataFrame.drop([컬럼명1, 컬럼명2, ...], axis=1)
- DataFrame.drop(columns=[컬럼명...])

**아래의 내용이 수정되어 있습니다. ^_^**

DataFrame의 행 제거
- axis=0 이 기본값이므로 생략하여도 됨
- DataFrame.drop(행이름), DataFrame.drop([행이름1, 행이름2, ...])
- DataFrame.drop(rows=[행이름1, 행이름2 ...])

In [321]:
# 이런 ㅠ.........ㅠ   '행 제거'인데 영상 찍을 때 '열 제거'로 되어 있었습니다!

In [322]:
# [2-26] 국가별 주류 소비량 합계를 구해 새로운 컬럼 ('주류소비량')를 추가합니다
# 주류소비량 = '맥주' + '증류주' + '와인'
df['주류소비량']=df['맥주']+df['증류주']+df['와인']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량
0  Afghanistan    0    0    0   0.0  AS      0
1      Albania   89  132   54   4.9  EU    275
2      Algeria   25    0   14   0.7  AF     39
3      Andorra  245  138  312  12.4  EU    695
4       Angola  217   57   45   5.9  AF    319

In [323]:
# [2-27] 주류소비량2 = ['맥주', '증류주', '와인']에 대해 DataFrame.sum(axis=1) 함수 사용 axis=1하면 행별로 합계가 구해짐
df['주류소비량2']=df[['맥주','증류주','와인']].sum(axis=1)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2
0  Afghanistan    0    0    0   0.0  AS      0       0
1      Albania   89  132   54   4.9  EU    275     275
2      Algeria   25    0   14   0.7  AF     39      39
3      Andorra  245  138  312  12.4  EU    695     695
4       Angola  217   57   45   5.9  AF    319     319

In [324]:
# [2-28] 주류 소비량 대비 알코올 소비량 비율을 구해 새로운 컬럼 ('알코올비율')을 추가합니다.
# 알코올비율 = '알코올' / '주류소비량'
df['알코올비율']=df['알코올']/df['주류소비량']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량  주류소비량2     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0       0       NaN
1      Albania   89  132   54   4.9  EU    275     275  0.017818
2      Algeria   25    0   14   0.7  AF     39      39  0.017949
3      Andorra  245  138  312  12.4  EU    695     695  0.017842
4       Angola  217   57   45   5.9  AF    319     319  0.018495

In [325]:
# [2-29] 알코올비율이 높은 국가 TOP5의 ['국가', '주류소비량', '알코올비율'] 정보를 구해 봅니다.
# HINT) sort_values, indexing 사용
df[['국가','주류소비량','알코올비율']].sort_values('알코올비율',ascending=False).head()
df

,국가,맥주,증류주,와인,알코올,대륙,주류소비량,주류소비량2,알코올비율
0,Afghanistan,0,0,0,0.0,AS,0,0,NaN
1,Albania,89,132,54,4.9,EU,275,275,0.017818
2,Algeria,25,0,14,0.7,AF,39,39,0.017949
3,Andorra,245,138,312,12.4,EU,695,695,0.017842
4,Angola,217,57,45,5.9,AF,319,319,0.018495
5,Antigua & Barbuda,102,128,45,4.9,NA,275,275,0.017818
6,Argentina,193,25,221,8.3,SA,439,439,0.018907
7,Armenia,21,179,11,3.8,EU,211,211,0.018009
8,Australia,261,72,212,10.4,OC,545,545,0.019083
9,Austria,279,75,191,9.7,EU,545,545,0.017798
10,Azerbaijan,21,46,5,1.3,EU,72,72,0.018056
11,Bahamas,122,176,51,6.3,NA,349,349,0.018052
12,Bahrain,42,63,7,2.0,AS,112,112,0.017857
13,Bangladesh,0,0,0,0.0,AS,0,0,NaN
14,Barbados,143,173,36,6.3,NA,352,352,0.017898
15,Belarus,142,373,42,14.4,EU,557,557,0.025853
16,Belgium,295,84,212,10.5,EU,591,591,0.017766
17,Belize,263,114,8,6.8,NA,385,385,0.017662
18,Benin,34,4,13,1.1,AF,51,51,0.021569
19,Bhutan,23,0,0,0.4,AS,23,23,0.017391
20,Bolivia,167,41,8,3.8,SA,216,216,0.017593
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257,257,0.017899
22,Botswana,173,35,35,5.4,AF,243,243,0.022222
23,Brazil,245,145,16,7.2,SA,406,406,0.017734
24,Brunei,31,2,1,0.6,AS,34,34,0.017647
25,Bulgaria,231,252,94,10.3,EU,577,577,0.017851
26,Burkina Faso,25,7,7,4.3,AF,39,39,0.110256
27,Burundi,88,0,0,6.3,AF,88,88,0.071591
28,Cote d'Ivoire,37,1,7,4.0,AF,45,45,0.088889
29,Cabo Verde,144,56,16,4.0,AF,216,216,0.018519
30,Cambodia,57,65,1,2.2,AS,123,123,0.017886
31,Cameroon,147,1,4,5.8,AF,152,152,0.038158
32,Canada,240,122,100,8.2,NA,462,462,0.017749
33,Central African Republic,17,2,1,1.8,AF,20,20,0.090000
34,Chad,15,1,1,0.4,AF,17,17,0.023529
35,Chile,130,124,172,7.6,SA,426,426,0.017840
36,China,79,192,8,5.0,AS,279,279,0.017921
37,Colombia,159,76,3,4.2,SA,238,238,0.017647
38,Comoros,1,3,1,0.1,AF,5,5,0.020000
39,Congo,76,1,9,1.7,AF,86,86,0.019767
40,Cook Islands,0,254,74,5.9,OC,328,328,0.017988
41,Costa Rica,149,87,11,4.4,NA,247,247,0.017814
42,Croatia,230,87,254,10.2,EU,571,571,0.017863
43,Cuba,93,137,5,4.2,NA,235,235,0.017872
44,Cyprus,192,154,113,8.2,EU,459,459,0.017865
45,Czech Republic,361,170,134,11.8,EU,665,665,0.017744
46,North Korea,0,0,0,0.0,AS,0,0,NaN
47,DR Congo,32,3,1,2.3,AF,36,36,0.063889
48,Denmark,224,81,278,10.4,EU,583,583,0.017839
49,Djibouti,15,44,3,1.1,AF,62,62,0.017742
50,Dominica,52,286,26,6.6,NA,364,364,0.018132
51,Dominican Republic,193,147,9,6.2,NA,349,349,0.017765
52,Ecuador,162,74,3,4.2,SA,239,239,0.017573
53,Egypt,6,4,1,0.2,AF,11,11,0.018182
54,El Salvador,52,69,2,2.2,NA,123,123,0.017886
55,Equatorial Guinea,92,0,233,5.8,AF,325,325,0.017846
56,Eritrea,18,0,0,0.5,AF,18,18,0.027778
57,Estonia,224,194,59,9.5,EU,477,477,0.019916
58,Ethiopia,20,3,0,0.7,AF,23,23,0.030435
59,Fiji,77,35,1,2.0,OC,113,113,0.017699
60,Finland,263,133,97,10.0,EU,493,493,0.020284
61,France,127,151,370,11.8,EU,648,648,0.018210
62,Gabon,347,98,59,8.9,AF,504,504,0.017659
63,Gambia,8,0,1,2.4,AF,9,9,0.266667
64,Georgia,52,100,149,5.4,EU,301,301,0.017940
65,Germany,346,117,175,11.3,EU,638,638,0.017712
66,Ghana,31,3,10,1.8,AF,44,44,0.040909
67,Greece,133,112,218,8.3,EU,463,463,0.017927
68,Grenada,199,438,28,11.9,NA,665,665,0.017895
69,Guatemala,53,69,2,2.2,NA,124,124,0.017742
70,Guinea,9,0,2,0.2,AF,11,11,0.018182
71,Guinea-Bissau,28,31,21,2.5,AF,80,80,0.031250
72,Guyana,93,302,1,7.1,SA,396,396,0.017929
73,Haiti,1,326,1,5.9,NA,328,328,0.017988
74,Honduras,69,98,2,3.0,NA,169,169,0.017751
75,Hungary,234,215,185,11.3,EU,634,634,0.017823
76,Iceland,233,61,78,6.6,EU,372,372,0.017742
77,India,9,114,0,2.2,AS,123,123,0.017886
78,Indonesia,5,1,0,0.1,AS,6,6,0.016667
79,Iran,0,0,0,0.0,AS,0,0,NaN
80,Iraq,9,3,0,0.2,AS,12,12,0.016667
81,Ireland,313,118,165,11.4,EU,596,596,0.019128
82,Israel,63,69,9,2.5,AS,141,141,0.017730
83,Italy,85,42,237,6.5,EU,364,364,0.017857
84,Jamaica,82,97,9,3.4,NA,188,188,0.018085
85,Japan,77,202,16,7.0,AS,295,295,0.023729
86,Jordan,6,21,1,0.5,AS,28,28,0.017857
87,Kazakhstan,124,246,12,6.8,AS,382,382,0.017801
88,Kenya,58,22,2,1.8,AF,82,82,0.021951
89,Kiribati,21,34,1,1.0,OC,56,56,0.017857
90,Kuwait,0,0,0,0.0,AS,0,0,NaN
91,Kyrgyzstan,31,97,6,2.4,AS,134,134,0.017910
92,Laos,62,0,123,6.2,AS,185,185,0.033514
93,Latvia,281,216,62,10.5,EU,559,559,0.018784
94,Lebanon,20,55,31,1.9,AS,106,106,0.017925
95,Lesotho,82,29,0,2.8,AF,111,111,0.025225
96,Liberia,19,152,2,3.1,AF,173,173,0.017919
97,Libya,0,0,0,0.0,AF,0,0,NaN
98,Lithuania,343,244,56,12.9,EU,643,643,0.020062
99,Luxembourg,236,133,271,11.4,EU,640,640,0.017813
100,Madagascar,26,15,4,0.8,AF,45,45,0.017778
101,Malawi,8,11,1,1.5,AF,20,20,0.075000
102,Malaysia,13,4,0,0.3,AS,17,17,0.017647
103,Maldives,0,0,0,0.0,AS,0,0,NaN
104,Mali,5,1,1,0.6,AF,7,7,0.085714
105,Malta,149,100,120,6.6,EU,369,369,0.017886
106,Marshall Islands,0,0,0,0.0,OC,0,0,NaN
107,Mauritania,0,0,0,0.0,AF,0,0,NaN
108,Mauritius,98,31,18,2.6,AF,147,147,0.017687
109,Mexico,238,68,5,5.5,NA,311,311,0.017685
110,Micronesia,62,50,18,2.3,OC,130,130,0.017692
111,Monaco,0,0,0,0.0,EU,0,0,NaN
112,Mongolia,77,189,8,4.9,AS,274,274,0.017883
113,Montenegro,31,114,128,4.9,EU,273,273,0.017949
114,Morocco,12,6,10,0.5,AF,28,28,0.017857
115,Mozambique,47,18,5,1.3,AF,70,70,0.018571
116,Myanmar,5,1,0,0.1,AS,6,6,0.016667
117,Namibia,376,3,1,6.8,AF,380,380,0.017895
118,Nauru,49,0,8,1.0,OC,57,57,0.017544
119,Nepal,5,6,0,0.2,AS,11,11,0.018182
120,Netherlands,251,88,190,9.4,EU,529,529,0.017769
121,New Zealand,203,79,175,9.3,OC,457,457,0.020350
122,Nicaragua,78,118,1,3.5,NA,197,197,0.017766
123,Niger,3,2,1,0.1,AF,6,6,0.016667
124,Nigeria,42,5,2,9.1,AF,49,49,0.185714
125,Niue,188,200,7,7.0,OC,395,395,0.017722
126,Norway,169,71,129,6.7,EU,369,369,0.018157
127,Oman,22,16,1,0.7,AS,39,39,0.017949
128,Pakistan,0,0,0,0.0,AS,0,0,NaN
129,Palau,306,63,23,6.9,OC,392,392,0.017602
130,Panama,285,104,18,7.2,NA,407,407,0.017690
131,Papua New Guinea,44,39,1,1.5,OC,84,84,0.017857
132,Paraguay,213,117,74,7.3,SA,404,404,0.018069
133,Peru,163,160,21,6.1,SA,344,344,0.017733
134,Philippines,71,186,1,4.6,AS,258,258,0.017829
135,Poland,343,215,56,10.9,EU,614,614,0.017752
136,Portugal,194,67,339,11.0,EU,600,600,0.018333
137,Qatar,1,42,7,0.9,AS,50,50,0.018000
138,South Korea,140,16,9,9.8,AS,165,165,0.059394
139,Moldova,109,226,18,6.3,EU,353,353,0.017847
140,Romania,297,122,167,10.4,EU,586,586,0.017747
141,Russian Federation,247,326,73,11.5,AS,646,646,0.017802
142,Rwanda,43,2,0,6.8,AF,45,45,0.151111
143,St. Kitts & Nevis,194,205,32,7.7,NA,431,431,0.017865
144,St. Lucia,171,315,71,10.1,NA,557,557,0.018133
145,St. Vincent & the Grenadines,120,221,11,6.3,NA,352,352,0.017898
146,Samoa,105,18,24,2.6,OC,147,147,0.017687
147,San Marino,0,0,0,0.0,EU,0,0,NaN
148,Sao Tome & Principe,56,38,140,4.2,AF,234,234,0.017949
149,Saudi Arabia,0,5,0,0.1,AS,5,5,0.020000
150,Senegal,9,1,7,0.3,AF,17,17,0.017647
151,Serbia,283,131,127,9.6,EU,541,541,0.017745
152,Seychelles,157,25,51,4.1,AF,233,233,0.017597
153,Sierra Leone,25,3,2,6.7,AF,30,30,0.223333
154,Singapore,60,12,11,1.5,AS,83,83,0.018072
155,Slovakia,196,293,116,11.4,EU,605,605,0.018843
156,Slovenia,270,51,276,10.6,EU,597,597,0.017755
157,Solomon Islands,56,11,1,1.2,OC,68,68,0.017647
158,Somalia,0,0,0,0.0,AF,0,0,NaN
159,South Africa,225,76,81,8.2,AF,382,382,0.021466
160,Spain,284,157,112,10.0,EU,553,553,0.018083
161,Sri Lanka,16,104,0,2.2,AS,120,120,0.018333
162,Sudan,8,13,0,1.7,AF,21,21,0.080952
163,Suriname,128,178,7,5.6,SA,313,313,0.017891
164,Swaziland,90,2,2,4.7,AF,94,94,0.050000
165,Sweden,152,60,186,7.2,EU,398,398,0.018090
166,Switzerland,185,100,280,10.2,EU,565,565,0.018053
167,Syria,5,35,16,1.0,AS,56,56,0.017857
168,Tajikistan,2,15,0,0.3,AS,17,17,0.017647
169,Thailand,99,258,1,6.4,AS,358,358,0.017877
170,Macedonia,106,27,86,3.9,EU,219,219,0.017808
171,Timor-Leste,1,1,4,0.1,AS,6,6,0.016667
172,Togo,36,2,19,1.3,AF,57,57,0.022807
173,Tonga,36,21,5,1.1,OC,62,62,0.017742
174,Trinidad & Tobago,197,156,7,6.4,NA,360,360,0.017778
175,Tunisia,51,3,20,1.3,AF,74,74,0.017568
176,Turkey,51,22,7,1.4,AS,80,80,0.017500
177,Turkmenistan,19,71,32,2.2,AS,122,122,0.018033
178,Tuvalu,6,41,9,1.0,OC,56,56,0.017857
179,Uganda,45,9,0,8.3,AF,54,54,0.153704
180,Ukraine,206,237,45,8.9,EU,488,488,0.018238
181,United Arab Emirates,16,135,5,2.8,AS,156,156,0.017949
182,United Kingdom,219,126,195,10.4,EU,540,540,0.019259
183,Tanzania,36,6,1,5.7,AF,43,43,0.132558
184,USA,249,158,84,8.7,NA,491,491,0.017719
185,Uruguay,115,35,220,6.6,SA,370,370,0.017838
186,Uzbekistan,25,101,8,2.4,AS,134,134,0.017910
187,Vanuatu,21,18,11,0.9,OC,50,50,0.018000
188,Venezuela,333,100,3,7.7,SA,436,436,0.017661
189,Vietnam,111,2,1,2.0,AS,114,114,0.017544
190,Yemen,6,0,0,0.1,AS,6,6,0.016667
191,Zambia,32,19,4,2.5,AF,55,55,0.045455
192,Zimbabwe,64,18,4,4.7,AF,86,86,0.054651

In [326]:
# [2-30] '주류소비량2' 컬럼을 제거하여 봅니다.
#df = df.drop('주류소비량2', axis=1)
#df = df.drop(columns=['주류소비량2'])
del df['주류소비량2']
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0       NaN
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

In [327]:
# [2-31] '알코올비율'이 NaN인 것에 대해 0으로 채우기 합니다.
df['알코올비율']=df['알코올비율'].fillna(0)
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0  0.000000
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

Columns, Index 상호 변경
- DataFrame.set_index(컬럼명) : 지정한 컬럼을 index로 지정함
- DataFrame.set_index([컬럼명1, 컬럼명2, ...]) : 컬럼 목록을 index(Multi Index)로 지정함
    - columns에서 index 쪽으로 이동됨, 기존 index는 제거됨
- DataFrame.reset_index() : 모든 index 가 columns로 이동됨
    - index는 RangeIndex로 대체됨

![image.png]()

In [328]:
# [2-32] 국가별 주류 소비량 합계(맥주, 증류주, 와인의 합)를 구해 봅니다.
df.set_index('국가')[['맥주','증류주','와인']].sum(axis=1)

국가
Afghanistan                       0
Albania                         275
Algeria                          39
Andorra                         695
Angola                          319
Antigua & Barbuda               275
Argentina                       439
Armenia                         211
Australia                       545
Austria                         545
Azerbaijan                       72
Bahamas                         349
Bahrain                         112
Bangladesh                        0
Barbados                        352
Belarus                         557
Belgium                         591
Belize                          385
Benin                            51
Bhutan                           23
Bolivia                         216
Bosnia-Herzegovina              257
Botswana                        243
Brazil                          406
Brunei                           34
Bulgaria                        577
Burkina Faso                     39
Burundi                          88
Cote d'Ivoire                    45
Cabo Verde                      216
Cambodia                        123
Cameroon                        152
Canada                          462
Central African Republic         20
Chad                             17
Chile                           426
China                           279
Colombia                        238
Comoros                           5
Congo                            86
Cook Islands                    328
Costa Rica                      247
Croatia                         571
Cuba                            235
Cyprus                          459
Czech Republic                  665
North Korea                       0
DR Congo                         36
Denmark                         583
Djibouti                         62
Dominica                        364
Dominican Republic              349
Ecuador                         239
Egypt                            11
El Salvador                     123
Equatorial Guinea               325
Eritrea                          18
Estonia                         477
Ethiopia                         23
Fiji                            113
Finland                         493
France                          648
Gabon                           504
Gambia                            9
Georgia                         301
Germany                         638
Ghana                            44
Greece                          463
Grenada                         665
Guatemala                       124
Guinea                           11
Guinea-Bissau                    80
Guyana                          396
Haiti                           328
Honduras                        169
Hungary                         634
Iceland                         372
India                           123
Indonesia                         6
Iran                              0
Iraq                             12
Ireland                         596
Israel                          141
Italy                           364
Jamaica                         188
Japan                           295
Jordan                           28
Kazakhstan                      382
Kenya                            82
Kiribati                         56
Kuwait                            0
Kyrgyzstan                      134
Laos                            185
Latvia                          559
Lebanon                         106
Lesotho                         111
Liberia                         173
Libya                             0
Lithuania                       643
Luxembourg                      640
Madagascar                       45
Malawi                           20
Malaysia                         17
Maldives                          0
Mali                              7
Malta                           369
Marshall Islands                  0
Mauritania                        0
Mauritius                       147
Mexico                          311
Micronesia                      130
Monaco                            0
Mongolia                        274
Montenegro                      273
Morocco                          28
Mozambique                       70
Myanmar                           6
Namibia                         380
Nauru                            57
Nepal                            11
Netherlands                     529
New Zealand                     457
Nicaragua                       197
Niger                             6
Nigeria                          49
Niue                            395
Norway                          369
Oman                             39
Pakistan                          0
Palau                           392
Panama                          407
Papua New Guinea                 84
Paraguay                        404
Peru                            344
Philippines                     258
Poland                          614
Portugal                        600
Qatar                            50
South Korea                     165
Moldova                         353
Romania                         586
Russian Federation              646
Rwanda                           45
St. Kitts & Nevis               431
St. Lucia                       557
St. Vincent & the Grenadines    352
Samoa                           147
San Marino                        0
Sao Tome & Principe             234
Saudi Arabia                      5
Senegal                          17
Serbia                          541
Seychelles                      233
Sierra Leone                     30
Singapore                        83
Slovakia                        605
Slovenia                        597
Solomon Islands                  68
Somalia                           0
South Africa                    382
Spain                           553
Sri Lanka                       120
Sudan                            21
Suriname                        313
Swaziland                        94
Sweden                          398
Switzerland                     565
Syria                            56
Tajikistan                       17
Thailand                        358
Macedonia                       219
Timor-Leste                       6
Togo                             57
Tonga                            62
Trinidad & Tobago               360
Tunisia                          74
Turkey                           80
Turkmenistan                    122
Tuvalu                           56
Uganda                           54
Ukraine                         488
United Arab Emirates            156
United Kingdom                  540
Tanzania                         43
USA                             491
Uruguay                         370
Uzbekistan                      134
Vanuatu                          50
Venezuela                       436
Vietnam                         114
Yemen                             6
Zambia                           55
Zimbabwe                         86
dtype: int64

In [329]:
df.head()

            국가   맥주  증류주   와인   알코올  대륙  주류소비량     알코올비율
0  Afghanistan    0    0    0   0.0  AS      0  0.000000
1      Albania   89  132   54   4.9  EU    275  0.017818
2      Algeria   25    0   14   0.7  AF     39  0.017949
3      Andorra  245  138  312  12.4  EU    695  0.017842
4       Angola  217   57   45   5.9  AF    319  0.018495

In [330]:
# [2-33] df를 ['대륙', '국가']를 index로 지정하고, 대륙별, 국가명으로  정렬하여 df로 저장합니다.
df=df.set_index(['대륙','국가']).sort_index()
df

                                  맥주  증류주   와인   알코올  주류소비량     알코올비율
대륙 국가
AF Algeria                        25    0   14   0.7     39  0.017949
   Angola                        217   57   45   5.9    319  0.018495
   Benin                          34    4   13   1.1     51  0.021569
   Botswana                      173   35   35   5.4    243  0.022222
   Burkina Faso                   25    7    7   4.3     39  0.110256
   Burundi                        88    0    0   6.3     88  0.071591
   Cabo Verde                    144   56   16   4.0    216  0.018519
   Cameroon                      147    1    4   5.8    152  0.038158
   Central African Republic       17    2    1   1.8     20  0.090000
   Chad                           15    1    1   0.4     17  0.023529
   Comoros                         1    3    1   0.1      5  0.020000
   Congo                          76    1    9   1.7     86  0.019767
   Cote d'Ivoire                  37    1    7   4.0     45  0.088889
   DR Congo                       32    3    1   2.3     36  0.063889
   Djibouti                       15   44    3   1.1     62  0.017742
   Egypt                           6    4    1   0.2     11  0.018182
   Equatorial Guinea              92    0  233   5.8    325  0.017846
   Eritrea                        18    0    0   0.5     18  0.027778
   Ethiopia                       20    3    0   0.7     23  0.030435
   Gabon                         347   98   59   8.9    504  0.017659
   Gambia                          8    0    1   2.4      9  0.266667
   Ghana                          31    3   10   1.8     44  0.040909
   Guinea                          9    0    2   0.2     11  0.018182
   Guinea-Bissau                  28   31   21   2.5     80  0.031250
   Kenya                          58   22    2   1.8     82  0.021951
   Lesotho                        82   29    0   2.8    111  0.025225
   Liberia                        19  152    2   3.1    173  0.017919
   Libya                           0    0    0   0.0      0  0.000000
   Madagascar                     26   15    4   0.8     45  0.017778
   Malawi                          8   11    1   1.5     20  0.075000
   Mali                            5    1    1   0.6      7  0.085714
   Mauritania                      0    0    0   0.0      0  0.000000
   Mauritius                      98   31   18   2.6    147  0.017687
   Morocco                        12    6   10   0.5     28  0.017857
   Mozambique                     47   18    5   1.3     70  0.018571
   Namibia                       376    3    1   6.8    380  0.017895
   Niger                           3    2    1   0.1      6  0.016667
   Nigeria                        42    5    2   9.1     49  0.185714
   Rwanda                         43    2    0   6.8     45  0.151111
   Sao Tome & Principe            56   38  140   4.2    234  0.017949
   Senegal                         9    1    7   0.3     17  0.017647
   Seychelles                    157   25   51   4.1    233  0.017597
   Sierra Leone                   25    3    2   6.7     30  0.223333
   Somalia                         0    0    0   0.0      0  0.000000
   South Africa                  225   76   81   8.2    382  0.021466
   Sudan                           8   13    0   1.7     21  0.080952
   Swaziland                      90    2    2   4.7     94  0.050000
   Tanzania                       36    6    1   5.7     43  0.132558
   Togo                           36    2   19   1.3     57  0.022807
   Tunisia                        51    3   20   1.3     74  0.017568
   Uganda                         45    9    0   8.3     54  0.153704
   Zambia                         32   19    4   2.5     55  0.045455
   Zimbabwe                       64   18    4   4.7     86  0.054651
AS Afghanistan                     0    0    0   0.0      0  0.000000
   Bahrain                        42   63    7   2.0    112  0.017857
   Bangladesh                      0    0    0   0.0      0  0.000000
   Bhutan                         23    0    0   0.4     23  0.017391
   Brunei                         31    2    1   0.6     34  0.017647
   Cambodia                       57   65    1   2.2    123  0.017886
   China                          79  192    8   5.0    279  0.017921
   India                           9  114    0   2.2    123  0.017886
   Indonesia                       5    1    0   0.1      6  0.016667
   Iran                            0    0    0   0.0      0  0.000000
   Iraq                            9    3    0   0.2     12  0.016667
   Israel                         63   69    9   2.5    141  0.017730
   Japan                          77  202   16   7.0    295  0.023729
   Jordan                          6   21    1   0.5     28  0.017857
   Kazakhstan                    124  246   12   6.8    382  0.017801
   Kuwait                          0    0    0   0.0      0  0.000000
   Kyrgyzstan                     31   97    6   2.4    134  0.017910
   Laos                           62    0  123   6.2    185  0.033514
   Lebanon                        20   55   31   1.9    106  0.017925
   Malaysia                       13    4    0   0.3     17  0.017647
   Maldives                        0    0    0   0.0      0  0.000000
   Mongolia                       77  189    8   4.9    274  0.017883
   Myanmar                         5    1    0   0.1      6  0.016667
   Nepal                           5    6    0   0.2     11  0.018182
   North Korea                     0    0    0   0.0      0  0.000000
   Oman                           22   16    1   0.7     39  0.017949
   Pakistan                        0    0    0   0.0      0  0.000000
   Philippines                    71  186    1   4.6    258  0.017829
   Qatar                           1   42    7   0.9     50  0.018000
   Russian Federation            247  326   73  11.5    646  0.017802
   Saudi Arabia                    0    5    0   0.1      5  0.020000
   Singapore                      60   12   11   1.5     83  0.018072
   South Korea                   140   16    9   9.8    165  0.059394
   Sri Lanka                      16  104    0   2.2    120  0.018333
   Syria                           5   35   16   1.0     56  0.017857
   Tajikistan                      2   15    0   0.3     17  0.017647
   Thailand                       99  258    1   6.4    358  0.017877
   Timor-Leste                     1    1    4   0.1      6  0.016667
   Turkey                         51   22    7   1.4     80  0.017500
   Turkmenistan                   19   71   32   2.2    122  0.018033
   United Arab Emirates           16  135    5   2.8    156  0.017949
   Uzbekistan                     25  101    8   2.4    134  0.017910
   Vietnam                       111    2    1   2.0    114  0.017544
   Yemen                           6    0    0   0.1      6  0.016667
EU Albania                        89  132   54   4.9    275  0.017818
   Andorra                       245  138  312  12.4    695  0.017842
   Armenia                        21  179   11   3.8    211  0.018009
   Austria                       279   75  191   9.7    545  0.017798
   Azerbaijan                     21   46    5   1.3     72  0.018056
   Belarus                       142  373   42  14.4    557  0.025853
   Belgium                       295   84  212  10.5    591  0.017766
   Bosnia-Herzegovina             76  173    8   4.6    257  0.017899
   Bulgaria                      231  252   94  10.3    577  0.017851
   Croatia                       230   87  254  10.2    571  0.017863
   Cyprus                        192  154  113   8.2    459  0.017865
   Czech Republic                361  170  134  11.8    665  0.017744
   Denmark                       224   81  278  10.4    583  0.017839
   Estonia                       224  194   59   9.5    477  0.019916
   Finland                       263  133   97  10.0    493  0.020284
   France                        127  151  370  11.8    648  0.018210
   Georgia                        52  100  149   5.4    301  0.017940
   Germany                       346  117  175  11.3    638  0.017712
   Greece                        133  112  218   8.3    463  0.017927
   Hungary                       234  215  185  11.3    634  0.017823
   Iceland                       233   61   78   6.6    372  0.017742
   Ireland                       313  118  165  11.4    596  0.019128
   Italy                          85   42  237   6.5    364  0.017857
   Latvia                        281  216   62  10.5    559  0.018784
   Lithuania                     343  244   56  12.9    643  0.020062
   Luxembourg                    236  133  271  11.4    640  0.017813
   Macedonia                     106   27   86   3.9    219  0.017808
   Malta                         149  100  120   6.6    369  0.017886
   Moldova                       109  226   18   6.3    353  0.017847
   Monaco                          0    0    0   0.0      0  0.000000
   Montenegro                     31  114  128   4.9    273  0.017949
   Netherlands                   251   88  190   9.4    529  0.017769
   Norway                        169   71  129   6.7    369  0.018157
   Poland                        343  215   56  10.9    614  0.017752
   Portugal                      194   67  339  11.0    600  0.018333
   Romania                       297  122  167  10.4    586  0.017747
   San Marino                      0    0    0   0.0      0  0.000000
   Serbia                        283  131  127   9.6    541  0.017745
   Slovakia                      196  293  116  11.4    605  0.018843
   Slovenia                      270   51  276  10.6    597  0.017755
   Spain                         284  157  112  10.0    553  0.018083
   Sweden                        152   60  186   7.2    398  0.018090
   Switzerland                   185  100  280  10.2    565  0.018053
   Ukraine                       206  237   45   8.9    488  0.018238
   United Kingdom                219  126  195  10.4    540  0.019259
NA Antigua & Barbuda             102  128   45   4.9    275  0.017818
   Bahamas                       122  176   51   6.3    349  0.018052
   Barbados                      143  173   36   6.3    352  0.017898
   Belize                        263  114    8   6.8    385  0.017662
   Canada                        240  122  100   8.2    462  0.017749
   Costa Rica                    149   87   11   4.4    247  0.017814
   Cuba                           93  137    5   4.2    235  0.017872
   Dominica                       52  286   26   6.6    364  0.018132
   Dominican Republic            193  147    9   6.2    349  0.017765
   El Salvador                    52   69    2   2.2    123  0.017886
   Grenada                       199  438   28  11.9    665  0.017895
   Guatemala                      53   69    2   2.2    124  0.017742
   Haiti                           1  326    1   5.9    328  0.017988
   Honduras                       69   98    2   3.0    169  0.017751
   Jamaica                        82   97    9   3.4    188  0.018085
   Mexico                        238   68    5   5.5    311  0.017685
   Nicaragua                      78  118    1   3.5    197  0.017766
   Panama                        285  104   18   7.2    407  0.017690
   St. Kitts & Nevis             194  205   32   7.7    431  0.017865
   St. Lucia                     171  315   71  10.1    557  0.018133
   St. Vincent & the Grenadines  120  221   11   6.3    352  0.017898
   Trinidad & Tobago             197  156    7   6.4    360  0.017778
   USA                           249  158   84   8.7    491  0.017719
OC Australia                     261   72  212  10.4    545  0.019083
   Cook Islands                    0  254   74   5.9    328  0.017988
   Fiji                           77   35    1   2.0    113  0.017699
   Kiribati                       21   34    1   1.0     56  0.017857
   Marshall Islands                0    0    0   0.0      0  0.000000
   Micronesia                     62   50   18   2.3    130  0.017692
   Nauru                          49    0    8   1.0     57  0.017544
   New Zealand                   203   79  175   9.3    457  0.020350
   Niue                          188  200    7   7.0    395  0.017722
   Palau                         306   63   23   6.9    392  0.017602
   Papua New Guinea               44   39    1   1.5     84  0.017857
   Samoa                         105   18   24   2.6    147  0.017687
   Solomon Islands                56   11    1   1.2     68  0.017647
   Tonga                          36   21    5   1.1     62  0.017742
   Tuvalu                          6   41    9   1.0     56  0.017857
   Vanuatu                        21   18   11   0.9     50  0.018000
SA Argentina                     193   25  221   8.3    439  0.018907
   Bolivia                       167   41    8   3.8    216  0.017593
   Brazil                        245  145   16   7.2    406  0.017734
   Chile                         130  124  172   7.6    426  0.017840
   Colombia                      159   76    3   4.2    238  0.017647
   Ecuador                       162   74    3   4.2    239  0.017573
   Guyana                         93  302    1   7.1    396  0.017929
   Paraguay                      213  117   74   7.3    404  0.018069
   Peru                          163  160   21   6.1    344  0.017733
   Suriname                      128  178    7   5.6    313  0.017891
   Uruguay                       115   35  220   6.6    370  0.017838
   Venezuela                     333  100    3   7.7    436  0.017661

In [331]:
# [2-34] df의 index를 모두 columns로 이동합니다.
df=df.reset_index()
df

     대륙                            국가   맥주  증류주   와인   알코올  주류소비량     알코올비율
0    AF                       Algeria   25    0   14   0.7     39  0.017949
1    AF                        Angola  217   57   45   5.9    319  0.018495
2    AF                         Benin   34    4   13   1.1     51  0.021569
3    AF                      Botswana  173   35   35   5.4    243  0.022222
4    AF                  Burkina Faso   25    7    7   4.3     39  0.110256
5    AF                       Burundi   88    0    0   6.3     88  0.071591
6    AF                    Cabo Verde  144   56   16   4.0    216  0.018519
7    AF                      Cameroon  147    1    4   5.8    152  0.038158
8    AF      Central African Republic   17    2    1   1.8     20  0.090000
9    AF                          Chad   15    1    1   0.4     17  0.023529
10   AF                       Comoros    1    3    1   0.1      5  0.020000
11   AF                         Congo   76    1    9   1.7     86  0.019767
12   AF                 Cote d'Ivoire   37    1    7   4.0     45  0.088889
13   AF                      DR Congo   32    3    1   2.3     36  0.063889
14   AF                      Djibouti   15   44    3   1.1     62  0.017742
15   AF                         Egypt    6    4    1   0.2     11  0.018182
16   AF             Equatorial Guinea   92    0  233   5.8    325  0.017846
17   AF                       Eritrea   18    0    0   0.5     18  0.027778
18   AF                      Ethiopia   20    3    0   0.7     23  0.030435
19   AF                         Gabon  347   98   59   8.9    504  0.017659
20   AF                        Gambia    8    0    1   2.4      9  0.266667
21   AF                         Ghana   31    3   10   1.8     44  0.040909
22   AF                        Guinea    9    0    2   0.2     11  0.018182
23   AF                 Guinea-Bissau   28   31   21   2.5     80  0.031250
24   AF                         Kenya   58   22    2   1.8     82  0.021951
25   AF                       Lesotho   82   29    0   2.8    111  0.025225
26   AF                       Liberia   19  152    2   3.1    173  0.017919
27   AF                         Libya    0    0    0   0.0      0  0.000000
28   AF                    Madagascar   26   15    4   0.8     45  0.017778
29   AF                        Malawi    8   11    1   1.5     20  0.075000
30   AF                          Mali    5    1    1   0.6      7  0.085714
31   AF                    Mauritania    0    0    0   0.0      0  0.000000
32   AF                     Mauritius   98   31   18   2.6    147  0.017687
33   AF                       Morocco   12    6   10   0.5     28  0.017857
34   AF                    Mozambique   47   18    5   1.3     70  0.018571
35   AF                       Namibia  376    3    1   6.8    380  0.017895
36   AF                         Niger    3    2    1   0.1      6  0.016667
37   AF                       Nigeria   42    5    2   9.1     49  0.185714
38   AF                        Rwanda   43    2    0   6.8     45  0.151111
39   AF           Sao Tome & Principe   56   38  140   4.2    234  0.017949
40   AF                       Senegal    9    1    7   0.3     17  0.017647
41   AF                    Seychelles  157   25   51   4.1    233  0.017597
42   AF                  Sierra Leone   25    3    2   6.7     30  0.223333
43   AF                       Somalia    0    0    0   0.0      0  0.000000
44   AF                  South Africa  225   76   81   8.2    382  0.021466
45   AF                         Sudan    8   13    0   1.7     21  0.080952
46   AF                     Swaziland   90    2    2   4.7     94  0.050000
47   AF                      Tanzania   36    6    1   5.7     43  0.132558
48   AF                          Togo   36    2   19   1.3     57  0.022807
49   AF                       Tunisia   51    3   20   1.3     74  0.017568
50   AF                        Uganda   45    9    0   8.3     54  0.153704
51   AF                        Zambia   32   19    4   2.5     55  0.045455
52   AF                      Zimbabwe   64   18    4   4.7     86  0.054651
53   AS                   Afghanistan    0    0    0   0.0      0  0.000000
54   AS                       Bahrain   42   63    7   2.0    112  0.017857
55   AS                    Bangladesh    0    0    0   0.0      0  0.000000
56   AS                        Bhutan   23    0    0   0.4     23  0.017391
57   AS                        Brunei   31    2    1   0.6     34  0.017647
58   AS                      Cambodia   57   65    1   2.2    123  0.017886
59   AS                         China   79  192    8   5.0    279  0.017921
60   AS                         India    9  114    0   2.2    123  0.017886
61   AS                     Indonesia    5    1    0   0.1      6  0.016667
62   AS                          Iran    0    0    0   0.0      0  0.000000
63   AS                          Iraq    9    3    0   0.2     12  0.016667
64   AS                        Israel   63   69    9   2.5    141  0.017730
65   AS                         Japan   77  202   16   7.0    295  0.023729
66   AS                        Jordan    6   21    1   0.5     28  0.017857
67   AS                    Kazakhstan  124  246   12   6.8    382  0.017801
68   AS                        Kuwait    0    0    0   0.0      0  0.000000
69   AS                    Kyrgyzstan   31   97    6   2.4    134  0.017910
70   AS                          Laos   62    0  123   6.2    185  0.033514
71   AS                       Lebanon   20   55   31   1.9    106  0.017925
72   AS                      Malaysia   13    4    0   0.3     17  0.017647
73   AS                      Maldives    0    0    0   0.0      0  0.000000
74   AS                      Mongolia   77  189    8   4.9    274  0.017883
75   AS                       Myanmar    5    1    0   0.1      6  0.016667
76   AS                         Nepal    5    6    0   0.2     11  0.018182
77   AS                   North Korea    0    0    0   0.0      0  0.000000
78   AS                          Oman   22   16    1   0.7     39  0.017949
79   AS                      Pakistan    0    0    0   0.0      0  0.000000
80   AS                   Philippines   71  186    1   4.6    258  0.017829
81   AS                         Qatar    1   42    7   0.9     50  0.018000
82   AS            Russian Federation  247  326   73  11.5    646  0.017802
83   AS                  Saudi Arabia    0    5    0   0.1      5  0.020000
84   AS                     Singapore   60   12   11   1.5     83  0.018072
85   AS                   South Korea  140   16    9   9.8    165  0.059394
86   AS                     Sri Lanka   16  104    0   2.2    120  0.018333
87   AS                         Syria    5   35   16   1.0     56  0.017857
88   AS                    Tajikistan    2   15    0   0.3     17  0.017647
89   AS                      Thailand   99  258    1   6.4    358  0.017877
90   AS                   Timor-Leste    1    1    4   0.1      6  0.016667
91   AS                        Turkey   51   22    7   1.4     80  0.017500
92   AS                  Turkmenistan   19   71   32   2.2    122  0.018033
93   AS          United Arab Emirates   16  135    5   2.8    156  0.017949
94   AS                    Uzbekistan   25  101    8   2.4    134  0.017910
95   AS                       Vietnam  111    2    1   2.0    114  0.017544
96   AS                         Yemen    6    0    0   0.1      6  0.016667
97   EU                       Albania   89  132   54   4.9    275  0.017818
98   EU                       Andorra  245  138  312  12.4    695  0.017842
99   EU                       Armenia   21  179   11   3.8    211  0.018009
100  EU                       Austria  279   75  191   9.7    545  0.017798
101  EU                    Azerbaijan   21   46    5   1.3     72  0.018056
102  EU                       Belarus  142  373   42  14.4    557  0.025853
103  EU                       Belgium  295   84  212  10.5    591  0.017766
104  EU            Bosnia-Herzegovina   76  173    8   4.6    257  0.017899
105  EU                      Bulgaria  231  252   94  10.3    577  0.017851
106  EU                       Croatia  230   87  254  10.2    571  0.017863
107  EU                        Cyprus  192  154  113   8.2    459  0.017865
108  EU                Czech Republic  361  170  134  11.8    665  0.017744
109  EU                       Denmark  224   81  278  10.4    583  0.017839
110  EU                       Estonia  224  194   59   9.5    477  0.019916
111  EU                       Finland  263  133   97  10.0    493  0.020284
112  EU                        France  127  151  370  11.8    648  0.018210
113  EU                       Georgia   52  100  149   5.4    301  0.017940
114  EU                       Germany  346  117  175  11.3    638  0.017712
115  EU                        Greece  133  112  218   8.3    463  0.017927
116  EU                       Hungary  234  215  185  11.3    634  0.017823
117  EU                       Iceland  233   61   78   6.6    372  0.017742
118  EU                       Ireland  313  118  165  11.4    596  0.019128
119  EU                         Italy   85   42  237   6.5    364  0.017857
120  EU                        Latvia  281  216   62  10.5    559  0.018784
121  EU                     Lithuania  343  244   56  12.9    643  0.020062
122  EU                    Luxembourg  236  133  271  11.4    640  0.017813
123  EU                     Macedonia  106   27   86   3.9    219  0.017808
124  EU                         Malta  149  100  120   6.6    369  0.017886
125  EU                       Moldova  109  226   18   6.3    353  0.017847
126  EU                        Monaco    0    0    0   0.0      0  0.000000
127  EU                    Montenegro   31  114  128   4.9    273  0.017949
128  EU                   Netherlands  251   88  190   9.4    529  0.017769
129  EU                        Norway  169   71  129   6.7    369  0.018157
130  EU                        Poland  343  215   56  10.9    614  0.017752
131  EU                      Portugal  194   67  339  11.0    600  0.018333
132  EU                       Romania  297  122  167  10.4    586  0.017747
133  EU                    San Marino    0    0    0   0.0      0  0.000000
134  EU                        Serbia  283  131  127   9.6    541  0.017745
135  EU                      Slovakia  196  293  116  11.4    605  0.018843
136  EU                      Slovenia  270   51  276  10.6    597  0.017755
137  EU                         Spain  284  157  112  10.0    553  0.018083
138  EU                        Sweden  152   60  186   7.2    398  0.018090
139  EU                   Switzerland  185  100  280  10.2    565  0.018053
140  EU                       Ukraine  206  237   45   8.9    488  0.018238
141  EU                United Kingdom  219  126  195  10.4    540  0.019259
142  NA             Antigua & Barbuda  102  128   45   4.9    275  0.017818
143  NA                       Bahamas  122  176   51   6.3    349  0.018052
144  NA                      Barbados  143  173   36   6.3    352  0.017898
145  NA                        Belize  263  114    8   6.8    385  0.017662
146  NA                        Canada  240  122  100   8.2    462  0.017749
147  NA                    Costa Rica  149   87   11   4.4    247  0.017814
148  NA                          Cuba   93  137    5   4.2    235  0.017872
149  NA                      Dominica   52  286   26   6.6    364  0.018132
150  NA            Dominican Republic  193  147    9   6.2    349  0.017765
151  NA                   El Salvador   52   69    2   2.2    123  0.017886
152  NA                       Grenada  199  438   28  11.9    665  0.017895
153  NA                     Guatemala   53   69    2   2.2    124  0.017742
154  NA                         Haiti    1  326    1   5.9    328  0.017988
155  NA                      Honduras   69   98    2   3.0    169  0.017751
156  NA                       Jamaica   82   97    9   3.4    188  0.018085
157  NA                        Mexico  238   68    5   5.5    311  0.017685
158  NA                     Nicaragua   78  118    1   3.5    197  0.017766
159  NA                        Panama  285  104   18   7.2    407  0.017690
160  NA             St. Kitts & Nevis  194  205   32   7.7    431  0.017865
161  NA                     St. Lucia  171  315   71  10.1    557  0.018133
162  NA  St. Vincent & the Grenadines  120  221   11   6.3    352  0.017898
163  NA             Trinidad & Tobago  197  156    7   6.4    360  0.017778
164  NA                           USA  249  158   84   8.7    491  0.017719
165  OC                     Australia  261   72  212  10.4    545  0.019083
166  OC                  Cook Islands    0  254   74   5.9    328  0.017988
167  OC                          Fiji   77   35    1   2.0    113  0.017699
168  OC                      Kiribati   21   34    1   1.0     56  0.017857
169  OC              Marshall Islands    0    0    0   0.0      0  0.000000
170  OC                    Micronesia   62   50   18   2.3    130  0.017692
171  OC                         Nauru   49    0    8   1.0     57  0.017544
172  OC                   New Zealand  203   79  175   9.3    457  0.020350
173  OC                          Niue  188  200    7   7.0    395  0.017722
174  OC                         Palau  306   63   23   6.9    392  0.017602
175  OC              Papua New Guinea   44   39    1   1.5     84  0.017857
176  OC                         Samoa  105   18   24   2.6    147  0.017687
177  OC               Solomon Islands   56   11    1   1.2     68  0.017647
178  OC                         Tonga   36   21    5   1.1     62  0.017742
179  OC                        Tuvalu    6   41    9   1.0     56  0.017857
180  OC                       Vanuatu   21   18   11   0.9     50  0.018000
181  SA                     Argentina  193   25  221   8.3    439  0.018907
182  SA                       Bolivia  167   41    8   3.8    216  0.017593
183  SA                        Brazil  245  145   16   7.2    406  0.017734
184  SA                         Chile  130  124  172   7.6    426  0.017840
185  SA                      Colombia  159   76    3   4.2    238  0.017647
186  SA                       Ecuador  162   74    3   4.2    239  0.017573
187  SA                        Guyana   93  302    1   7.1    396  0.017929
188  SA                      Paraguay  213  117   74   7.3    404  0.018069
189  SA                          Peru  163  160   21   6.1    344  0.017733
190  SA                      Suriname  128  178    7   5.6    313  0.017891
191  SA                       Uruguay  115   35  220   6.6    370  0.017838
192  SA                     Venezuela  333  100    3   7.7    436  0.017661

In [332]:
# [2-35] 전세계 평균 소비량과 한국('South Korea')의 소비량을 비교해 보려고 합니다.
# 먼저, 한국의 소비량을 조회하여 korea로 저장합니다.
korea = df[df['국가']=='South Korea']
korea

    대륙           국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  AS  South Korea  140   16   9  9.8    165  0.059394

DataFrame에서 특정 행, 열 제거
- DataFrame.drop(행, axis=0)
- DataFrame.drop([행1, 행2, ...], axis=0)
- DataFrame.drop(열, axis=1)
- DataFrame.drop([열1, 열2, ...], axis=1)
- indexing을 사용하여, 제거할 정보가 아닌 필요한 정보를 가져오기 하여 특정 행/열 제거

In [333]:
# [2-36] korea 정보 중에서 대륙 정보를 제거합니다.
korea.drop('대륙',axis=1)

             국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  South Korea  140   16   9  9.8    165  0.059394

In [334]:
df.loc[df['국가']=='South Korea','국가':'알코올비율']

             국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  South Korea  140   16   9  9.8    165  0.059394

원하는 컬럼만 추출하기
- DataFrame.loc[:, 시작컬럼명:끝컬럼명]
- DataFrame.iloc[:, 시작컬럼번호:끝컬럼번호+1]
   - 특정 번호부터 끝까지 모든 컬럼을 대상으로 하며면 끝컬럼번호+1 정보를 생략함

In [335]:
korea

    대륙           국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  AS  South Korea  140   16   9  9.8    165  0.059394

In [336]:
# [2-37] indexing을 사용하여 korea 정보 중 대륙 정보를 제거합니다. (DataFrame.loc[])
korea.loc[:,'국가':'알코올비율']

             국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  South Korea  140   16   9  9.8    165  0.059394

In [337]:
# [2-38] indexing을 사용하여 korea 정보 중 대륙 정보를 제거합니다. (DataFrame.iloc[])
korea.iloc[:,1:]

             국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  South Korea  140   16   9  9.8    165  0.059394

In [338]:
type(df['국가']=='South Korea')

pandas.core.series.Series

In [339]:
type((df['국가']=='South Korea').to_list())

list

In [340]:
df.iloc[(df['국가']=='South korea').to_list(),1:]

Empty DataFrame
Columns: [국가, 맥주, 증류주, 와인, 알코올, 주류소비량, 알코올비율]
Index: []

In [341]:
# [2-39] korea에 대륙 정보가 제거된 정보를 다시 저장합니다.
korea = korea.drop('대륙',axis=1)
korea

             국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  South Korea  140   16   9  9.8    165  0.059394

In [342]:
# [2-40] 세계의 각 컬럼별 평균을 구하여 DataFrame으로 만들고, 
# worldwide라는 이름을 지정합니다
# 세계의 각 컬럼별 평균은 DataFrame.mean()을 사용합니다.
worldwide = pd.DataFrame(df.mean())
worldwide

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

                0
맥주     106.160622
증류주     80.994819
와인      49.450777
알코올      4.717098
주류소비량  236.606218
알코올비율    0.026115

DataFrame의 행/열 전환
- DataFrame.T : index, columns의 위치가 바뀜

In [281]:
# [2-41] worldwide의 행과 열을 전환해 wwT로 저장합니다.
wwT = worldwide.T
wwT

           맥주        증류주         와인       알코올       주류소비량     알코올비율
0  106.160622  80.994819  49.450777  4.717098  236.606218  0.026115

In [343]:
korea

             국가   맥주  증류주  와인  알코올  주류소비량     알코올비율
85  South Korea  140   16   9  9.8    165  0.059394

DataFrame의 임의 위치 열 삽입
- DataFrame.insert(위치, 컬럼, 값) : inplace 동작됨 (새로운 return 없음)

In [ ]:
# [2-42] wwT의 맨 앞에 '국가' 컬럼을 'World Wide' 값으로 추가합니다.
# 여러 번 추가하면 안됨
wwT.insert(0,'국가','World Wide')

In [346]:
wwT

,국가,맥주,증류주,와인,알코올,주류소비량,알코올비율
0,World Wide,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115

In [347]:
wwT.insert(0,'Temp',['World Wide'])
wwT

,Temp,국가,맥주,증류주,와인,알코올,주류소비량,알코올비율
0,World Wide,World Wide,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115

In [349]:
wwT=wwT.drop(['Temp'],axis=1)
wwT

,국가,맥주,증류주,와인,알코올,주류소비량,알코올비율
0,World Wide,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115

DataFrame의 행(들) 추가
- DataFrame.append(DataFrame) : 새로운 DataFrame 반환
- 2개를 1개로 합치는 작업 가능

In [350]:
# [2-43] korea 뒤에 wwT를 추가하여 compT 로 이름 붙입니다
compT = korea.append(wwT)
compT

,국가,맥주,증류주,와인,알코올,주류소비량,알코올비율
85,South Korea,140.000000,16.000000,9.000000,9.800000,165.000000,0.059394
0,World Wide,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115

In [ ]:
# 한국의 맥주 및 알코올 소비량이 전세계 맥주 소비량보다 많은 것을 알 수 있습니다.

여러 개의 DataFrame을 합쳐 하나의 DataFrame 생성
- pd.concat([df1, df2, ....], axis=0) : index 방향으로 합치기
- pd.concat([df1, df2, ....], axis=1) : columns 방향으로 합치기
- DataFrame.append()와는 달리 여러 개의 DataFrame 목록을 주어 여러 개를 한 번에 합칠 수 있음

In [351]:
# [2-44] wwT와 korea 를 합쳐 하나의 DataFrame을 생성하여 df2로 저장합니다.
df2 = pd.concat([korea,wwT])
df2

,국가,맥주,증류주,와인,알코올,주류소비량,알코올비율
85,South Korea,140.000000,16.000000,9.000000,9.800000,165.000000,0.059394
0,World Wide,106.160622,80.994819,49.450777,4.717098,236.606218,0.026115

In [352]:
# [2-45] df2를 '국가' 컬럼을 index로 설정하여 df3으로 저장합니다
df3 = df2.set_index('국가')
df3

                     맥주        증류주         와인       알코올       주류소비량     알코올비율
국가
South Korea  140.000000  16.000000   9.000000  9.800000  165.000000  0.059394
World Wide   106.160622  80.994819  49.450777  4.717098  236.606218  0.026115

In [356]:
# [2-46] df3의 행,열을 전환하여 출력합니다.
df3.T

국가     South Korea  World Wide
맥주      140.000000  106.160622
증류주      16.000000   80.994819
와인        9.000000   49.450777
알코올       9.800000    4.717098
주류소비량   165.000000  236.606218
알코올비율     0.059394    0.026115

### 3-5. 맥주 소비량

In [362]:
# [2-47] 주류소비량이 있으면서, 맥주를 소비하지 않는 나라의 맥주, 증류주, 와인, 알코올, 대륙 등 모든 정보를 구해 봅니다.
# indexing 사용 
df[(df['주류소비량']>0)&(df['맥주']==0)]

     대륙            국가  맥주  증류주  와인  알코올  주류소비량     알코올비율
83   AS  Saudi Arabia   0    5   0  0.1      5  0.020000
166  OC  Cook Islands   0  254  74  5.9    328  0.017988

In [368]:
df.loc[(df['주류소비량']>0)&(df['맥주']==0),:]

     대륙            국가  맥주  증류주  와인  알코올  주류소비량     알코올비율
83   AS  Saudi Arabia   0    5   0  0.1      5  0.020000
166  OC  Cook Islands   0  254  74  5.9    328  0.017988

In [370]:
# [2-48] 주류소비량이 있으면서, 맥주를 소비하지 않는 국가의 국가명 목록을 구해봅니다.
df.loc[(df['주류소비량']>0)&(df['맥주']==0),'국가'].to_list()

['Saudi Arabia', 'Cook Islands']

In [373]:
# [2-49] 주류소비량이 정보가 없는 국가의 정보를 구해 봅니다.
df[(df['주류소비량'].isnull())|df['주류소비량']==0]

     대륙                국가  맥주  증류주  와인  알코올  주류소비량  알코올비율
27   AF             Libya   0    0   0  0.0      0    0.0
31   AF        Mauritania   0    0   0  0.0      0    0.0
43   AF           Somalia   0    0   0  0.0      0    0.0
53   AS       Afghanistan   0    0   0  0.0      0    0.0
55   AS        Bangladesh   0    0   0  0.0      0    0.0
62   AS              Iran   0    0   0  0.0      0    0.0
68   AS            Kuwait   0    0   0  0.0      0    0.0
73   AS          Maldives   0    0   0  0.0      0    0.0
77   AS       North Korea   0    0   0  0.0      0    0.0
79   AS          Pakistan   0    0   0  0.0      0    0.0
126  EU            Monaco   0    0   0  0.0      0    0.0
133  EU        San Marino   0    0   0  0.0      0    0.0
169  OC  Marshall Islands   0    0   0  0.0      0    0.0

In [375]:
# [2-50] 맥주 소비량의 값이 큰 5개 국가를 알아봅니다.
df.sort_values('맥주',ascending=False).head()

     대륙              국가   맥주  증류주   와인   알코올  주류소비량     알코올비율
35   AF         Namibia  376    3    1   6.8    380  0.017895
108  EU  Czech Republic  361  170  134  11.8    665  0.017744
19   AF           Gabon  347   98   59   8.9    504  0.017659
114  EU         Germany  346  117  175  11.3    638  0.017712
121  EU       Lithuania  343  244   56  12.9    643  0.020062

In [384]:
# [2-51] 맥주 소비량이 세계 평균 소비량보다 큰 국가의 개수는?
df.loc[df['맥주']>df['맥주'].mean(),'국가'].count()

76

### 3-6. 어느 대륙에서 평균보다 맥주를 더 많이 마시는가?
그룹별 통계치 구하기  
- DataFrame.groupby(컬럼명).적용할통계함수()
    - DataFrame의 **함수 적용 가능 컬럼들**에 대해 그룹별 통계치를 구함 
    - 통계함수에는 sum, mean, std, var, min, max, count, quantile 등이 있음


- DataFrame.groupby(컬럼명)[컬럼명].적용할통계함수()
    - **특정 컬럼(들)**에 대한 결과만 확인할 때
    - [컬럼명] : 결과가 Series
    - [[컬럼명]] : 결과가 DataFrame
    - [[컬럼명1, 컬럼명2, ..]] : 결과 DataFrame

- DataFrame.groupby(컬럼명)[컬럼명].agg([통계함수1, 통계함수2 , ...])를 사용함
    - 여러 개의 통계함수를 적용
    - 통계함수를 문자열 형식으로 사용 가능

In [386]:
# [2-52] 전세계 주류 소비량 평균 
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

맥주       106.160622
증류주       80.994819
와인        49.450777
알코올        4.717098
주류소비량    236.606218
알코올비율      0.026115
dtype: float64

In [387]:
# [2-53] 대륙별 주류 소비량 평균을 계산해 봅니다.
df.groupby('대륙').mean()

            맥주         증류주          와인       알코올       주류소비량     알코올비율
대륙
AF   61.471698   16.339623   16.264151  3.007547   94.075472  0.049741
AS   37.045455   60.840909    9.068182  2.170455  106.954545  0.016359
EU  193.777778  132.555556  142.222222  8.617778  468.555556  0.017527
NA  145.434783  165.739130   24.521739  5.995652  335.695652  0.017854
OC   89.687500   58.437500   35.625000  3.381250  183.750000  0.016895
SA  175.083333  114.750000   62.416667  6.308333  352.250000  0.017868

In [388]:
# [2-54] 대륙별 주류 소비량 중앙값을 계산해 봅니다.
df.groupby('대륙').median()

       맥주    증류주     와인    알코올  주류소비량     알코올비율
대륙
AF   32.0    3.0    2.0   2.30   49.0  0.021951
AS   17.5   16.0    1.0   1.20   68.0  0.017843
EU  219.0  122.0  128.0  10.00  541.0  0.017865
NA  143.0  137.0   11.0   6.30  349.0  0.017818
OC   52.5   37.0    8.5   1.75   98.5  0.017732
SA  162.5  108.5   12.0   6.85  383.0  0.017786

In [391]:
# [2-55] 대륙별 맥주 소비량 평균은?
df.groupby('대륙')[['맥주']].mean()

            맥주
대륙
AF   61.471698
AS   37.045455
EU  193.777778
NA  145.434783
OC   89.687500
SA  175.083333

In [394]:
# [2-56] 전세계 맥주 소비량 평균보다 많은 맥주를 소비하는 대륙은?
temp = df.groupby('대륙')[['맥주']].mean() 
temp[temp['맥주'] > df['맥주'].mean()]

            맥주
대륙
EU  193.777778
NA  145.434783
SA  175.083333

In [395]:
# [2-57] 대륙별 맥주와 와인 소비량의 평균, 중앙값, 최대값은?
df.groupby('대륙')[['맥주','와인']].agg(['mean','median','max'])

            맥주                      와인
          mean median  max        mean median  max
대륙
AF   61.471698   32.0  376   16.264151    2.0  233
AS   37.045455   17.5  247    9.068182    1.0  123
EU  193.777778  219.0  361  142.222222  128.0  370
NA  145.434783  143.0  285   24.521739   11.0  100
OC   89.687500   52.5  306   35.625000    8.5  212
SA  175.083333  162.5  333   62.416667   12.0  221

행, 열에 모두 group을 지정하여 통계값 구하기
- DataFrame.pivot_table(index=행방향컬럼, columns=열방향컬럼, values=집계대상컬럼, aggfunc=구할 통계값)
- 각각에 대해 단독 또는 목록을 사용할 수 있음
- index, columns는 범주형, values는 연속형 사용

In [396]:
# [2-58] pivot_table을 사용하여 대륙별(index), '맥주'와 '와인'의 mean, median, max 값을 구합니다.
# 결과 참조
df.pivot_table(index='대륙',values=['맥주','와인'],aggfunc=['mean','median','max'])

          mean             median         max
            맥주          와인     맥주     와인   맥주   와인
대륙
AF   61.471698   16.264151   32.0    2.0  376  233
AS   37.045455    9.068182   17.5    1.0  247  123
EU  193.777778  142.222222  219.0  128.0  361  370
NA  145.434783   24.521739  143.0   11.0  285  100
OC   89.687500   35.625000   52.5    8.5  306  212
SA  175.083333   62.416667  162.5   12.0  333  221

In [399]:
# [2-59] pivot_table을 사용하여 대륙별(columns), '맥주'와 '와인'의 mean, median값을 구합니다.
# 결과 참조
df.pivot_table(columns='대륙',values=['맥주','와인'],aggfunc=['mean','median'])

         mean                                              ... median         \
대륙         AF         AS          EU          NA       OC  ...     AS     EU
맥주  61.471698  37.045455  193.777778  145.434783  89.6875  ...   17.5  219.0
와인  16.264151   9.068182  142.222222   24.521739  35.6250  ...    1.0  128.0


대륙     NA    OC     SA
맥주  143.0  52.5  162.5
와인   11.0   8.5   12.0

[2 rows x 12 columns]

In [400]:
# [2-60] groupby를 사용하여 대륙별, '맥주'와 '와인'의 mean, median, max 값을 구합니다.
df.groupby('대륙')[['맥주','와인']].agg(['mean','median','max'])

            맥주                      와인
          mean median  max        mean median  max
대륙
AF   61.471698   32.0  376   16.264151    2.0  233
AS   37.045455   17.5  247    9.068182    1.0  123
EU  193.777778  219.0  361  142.222222  128.0  370
NA  145.434783  143.0  285   24.521739   11.0  100
OC   89.687500   52.5  306   35.625000    8.5  212
SA  175.083333  162.5  333   62.416667   12.0  221

In [ ]:
^^  수고하셨습니다.